  <!-- Header -->
  <header class="header" id="top">
    <div class="text-vertical-center">
      <h1  style="color: white ">ClassRoom Help</h1>
      <h3  style="color: white">Uniandes</h3>
      <br>
      <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger"  >Find Out More</a>
    </div>
  </header>

  <!-- About -->
  <section id="about" class="about">
    <div class="container text-center">
      <h2> Bienvenidos a nuestra plataforma </h2>
      <p class="lead"> 
        No pierdas mas tiempo y comienza a estudiar
        <a target="_blank" href="/users/sign_in">Log in.</a> 
      </p>
    </div>
    <!-- /.container -->
  </section>

  <!-- Services -->
  <section id="services" class="services bg-primary text-white">
    <div class="container">
      <div class="row text-center">
          <h2>Navegacion rapida</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Nuestro equipo</strong>
                </h4>
                <p>.</p>
                <a href="#" class="btn btn-light">Learn More</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-compass fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Quienes somos</strong>
                </h4>
                <p>.</p>
                <a href="#" class="btn btn-light">Learn More</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-flask fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Que materias manejamos</strong>
                </h4>
                <p>.</p>
                <a href="#" class="btn btn-light">Learn More</a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-shield fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>usuarios</strong>
                </h4>
                <p>.</p>
                <a href="#" class="btn btn-light">Learn More</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Callout -->
  <aside class="callout">
    <div class="text-vertical-center">
      <h1> </h1>
    </div>
  </aside>

  <!-- Portfolio -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Nuestro equipo</h2>
          <hr class="small">
          <div class="row">
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="#">
                  <img class="img-portfolio img-fluid" src="<%= asset_path( 'portfolio-1.jpg' ) %>" >
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="#">
                  <img class="img-portfolio img-fluid" src="<%= asset_path( 'portfolio-2.jpg' ) %>">
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="#">
                  <img class="img-portfolio img-fluid" src="<%= asset_path( 'portfolio-3.jpg' ) %>">
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="portfolio-item">
                <a href="#">
                  <img class="img-portfolio img-fluid" src="<%= asset_path( 'portfolio-4.jpg' ) %>">
                </a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <a href="#" class="btn btn-dark">View More Items</a>
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>

  <!-- Call to Action -->
  <aside class="call-to-action bg-primary text-white">
    <div class="container text-center">
      <h3>The buttons below are impossible to resist.</h3>
      <a href="#" class="btn btn-lg btn-light">Click Me!</a>
      <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
    </div>
  </aside>

  <section id="contact" class="map">
    <hr>
    <center><div><iframe width="560" height="315" src="https://www.youtube.com/embed/aMj3Rpv_1kw" frameborder="0" allowfullscreen ></iframe></section></div></center>
  </section>
<hr>