<div class="subject-topic-container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand">Temas</a>
    </div>
  </nav>

  <div class="container">
    <div class="items">
      <% Subject.where(_id: params[:id]).first.topics.each do |topic| %>
        <%= link_to attempt_path(Attempt.first._id) do %>
          <label><%= topic.name %></label>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<hr>
