<h1>Correcto</h1>
<p class= "text-center"> su desempeño en este ejercicio fue correcto dado
  <br> que se refleja un manejo en el conocimiento de los temas relacionados
  <br>con la creacion de clases y los componentes que hacen parte de este proceso,
  <br> se recomienda seguir trabajando para lograr interiorizar el tema completamente.

</p>

<hr>
