<h1>Error</h1>
<p class= "text-center"> su desempeño en este ejercicio fue bajo 
  <br>  se refleja una falta de trabajo en el tema de en el tema de 
  <br> entidad, la persistencia y la lógica razon por la cual 
  <br> se recomienda seguir trabajando para lograr interiorizar el tema completamente.
  <br> y realizar los sigientes ejercicios
  LINK*

</p>

<hr>
